src/OAB-Exam.dtd


<!ELEMENT questions (question*)>
<!ELEMENT items (item)* >

<!ELEMENT question (statement, items*) >
<!ATTLIST question
	  number CDATA #REQUIRED
	  valid (true | false) #IMPLIED>

<!ELEMENT statement (#PCDATA) >

<!ELEMENT item (#PCDATA) >
<!ATTLIST item
	  letter CDATA #REQUIRED
	  correct (true | false) #IMPLIED>

<!ELEMENT OAB-exam (questions) >
<!ATTLIST OAB-exam
	  year CDATA #REQUIRED
	  edition CDATA #REQUIRED>

